<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AchieveMate</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <header>
        <img src="/images/AchieveMate_logo.png" alt="AchieveMate Logo" class="logo">    </header>

    <h1>Welcome to AchieveMate</h1>
    <p>Your journey to achievement starts here.</p>

    <div class="auth-buttons">
        <a href="/login" class="btn">Login</a>
        <a href="/signup" class="btn">Sign Up</a>
    </div>
</div>
</body>
</html>
